@import "../../_globalColor";

.skills-main-div {
  display: flex;
  flex-direction: row-reverse; /* لضمان الاتجاه من اليمين إلى اليسار بشكل صحيح */
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.skills-text-div {
  flex: 1;
  margin-left: 50px;
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div {
  display: flex;
  justify-content: center; /* لتوسيط الصور أفقياً */
  align-items: center; /* لتوسيط الصور عمودياً إذا لزم الأمر */
  width: 100%;
  height: auto; /* تأكد من أن الحاوية نفسها تحتوي الصور بشكل صحيح */
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* لتوسيط الصورة أفقياً */
  text-align: center; /* لضمان توسيط الصورة داخل الحاوية */
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}

.subTitle {
  color: $subTitle;
}

/* Media Query */

/* للشاشات المتوسطة */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}

/* للشاشات الصغيرة */
@media (max-width: 768px) {
  .skills-heading {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    order: 2;
    margin: 0 auto; /* تأكد من أن الحاوية متمركزة بشكل صحيح */
    width: 100%; /* تأكد من أن الحاوية تحتوي الصور بالكامل */
  }
}
