@import "../../_globalColor";

.education-heading {
  font-size: 3vw; /* استخدام وحدة vw لتحديد حجم النص */
  font-weight: 400;
  text-align: center; /* تأكد من أن العنوان يتمركز بشكل جيد */
  margin-bottom: 1.5rem; /* إضافة بعض المساحة بين العنوان والعناصر التالية */
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 20px 0px;
  margin: 0px auto;
  margin-top: 2rem;
}

.education-section > * {
  flex: 1;
  margin-bottom: 30px;
}

.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 1rem; /* إضافة فجوة بين بطاقات التعليم */
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 4vw; /* تكبير حجم النص للشاشات المتوسطة */
  }
  .education-text-subtitle {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 0px;
  }
  .education-heading {
    font-size: 5vw; /* تكبير حجم النص للشاشات الصغيرة */
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
