@import "./globalColor";

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: auto;
  max-width: 100%;
}

.App-header {
  background-color: $appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: $textColorDark;
}

.App-link {
  color: $appLink;
}

.subTitle {
  color: $subTitle;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  flex: 1 1 45%;
  margin: 10px;
}

@media (min-width: 1024px) {
  .item {
    flex: 1 1 30%;
  }
}

@media (max-width: 767px) {
  .item {
    flex: 1 1 100%;
  }
}

/* استعلامات الوسائط */
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
  .App-header {
    flex-direction: row;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
  .App-header {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .App-header {
    flex-direction: column;
  }
}
